[Unit]
Description=Hydrodactyl Elytra Auto-Updater
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hydrodactyl-auto-update-elytra.sh
EnvironmentFile=/etc/hydrodactyl/auto-update-elytra.env
StandardOutput=journal
StandardError=journal
