[Unit]
Description=Hydrodactyl Wings Auto-Updater
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hydrodactyl-auto-update-wings.sh
EnvironmentFile=/etc/hydrodactyl/auto-update-wings.env
StandardOutput=journal
StandardError=journal
