[Unit]
Description=Hydrodactyl Wings Daemon
Documentation=https://github.com/pterodactyl/wings
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
User=root
Group=root
WorkingDirectory=/etc/pterodactyl
LimitNOFILE=4096
PIDFile=/run/wings.pid
ExecStart=/usr/local/bin/wings
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5s
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
